{
  "printWidth": 220,
  "singleQuote": false,
  "semi": true,
  "proseWrap": "preserve",
  "tabWidth": 2,
  "useTab": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "ignore",
  "quoteProps": "preserve",
  "bracketSameLine": false,
  "vueIndentScriptAndStyle": true,
  "endOfLine": "auto",
  "arrowParens": "always"
}
